.support {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    justify-items: center;

    .left {
        display: grid;
        grid-auto-flow: row;
        justify-items: start;
        row-gap: 20px;

        .btn {
            text-align: start;
            padding: 15px 20px;
            border: 1px solid #CCCCCC;
            border-radius: 6px;
            background: #FFFFFF;
            width: 330px;
            position: relative;
        }
        ::after {
            content: "→";
            font-weight: 500;
            font-size: 18px;
            color: #0156FF;
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

}
