.collaps {
    margin: 20px 0;
}

.destination {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

}

.open {
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.close {
    transform: matrix(-1, 0, 0, -1, 0, 0);
}

.desc {
    font-size: 14px;
    color: #666;
}