$bkg-color: #020202;
$gray: #acacac;
$white: #fff;

a, button, img {
    cursor: pointer;
    text-decoration: none;
}
.header {
    min-width: 100%
}
.container {
    max-width: 1400px;
    margin: 0 auto;
};

.shopInfo {
    background-color: $bkg-color;
    width: 100%;
    font-size: 12px;


    span {
        color: $gray;
    }
    a {
        color: $white;
    }
    .content {
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        font-weight: 600;
        height: 44px;
    }
    .openTime {
        color: $white;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
    }
    .addressLink {
        text-decoration: underline;
    }
    .dropdown {
        cursor: pointer;
    }
    .contact {

        display: grid;
        grid-auto-flow: column;
        column-gap: 12px;
        align-items: center;
    }
}

.mainHeader {
    background-color: $white;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    font-weight: 600;
    height: 92px;

    .navLinks {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        column-gap: 25px;

        .navLinks:nth-child(2) {
            margin-left: 20px;
        }
        .deals {
            padding: 8px 26px;
            border: 2px solid #0156FF;
            color: #0156FF;
            font-weight: 600;
            border-radius: 20px;
        }
    }

    a {
        color: $bkg-color;
    }
    button {
        border: none;
        background-color: transparent;
    }

    .actions {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        column-gap: 20px;
    }

    .profile {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
}



