$bkg-color: #020202;
$gray: #acacac;
$white: #fff;

a {
    cursor: pointer;
    text-decoration: none;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
};

.shop-info {
    background-color: $bkg-color;
    width: 100%;
    font-size: 12px;


    span {
        color: $gray;
    }
    a {
        color: $white;
    }
    .shop-info__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-weight: 600;
        height: 44px;
    }
    .open__time {
        color: $white;
    }
    .address__link {
        text-decoration: underline;
    }
    .header__contact {

        display: grid;
        grid-auto-flow: column;
        column-gap: 12px;
        align-items: center;
    }
}

